## Holiday Sprint - Examining Legos!

**Imports**

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np
np.random.seed(42)

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style = "darkgrid")

**Data Read-In**

In [2]:
colors = pd.read_csv('../data/colors.csv')
inventories = pd.read_csv('../data/inventories.csv')
inventory_parts = pd.read_csv('../data/inventory_parts.csv')
inventory_sets = pd.read_csv('../data/inventory_sets.csv')
part_categories = pd.read_csv('../data/part_categories.csv')
parts = pd.read_csv('../data/parts.csv')
sets = pd.read_csv('../data/sets.csv')
themes = pd.read_csv('../data/themes.csv')

![image info](../data/downloads_schema.png)

### Concatenating Datasets

- I am going to build one dataset that combines the features from the above, separate datasets: using Python dictionaries to map the appropriate new column based on the existing information.

**Parts and Parts Categories**

In [3]:
parts.head()

  part_num                                               name  part_cat_id
0   0687b1                        Set 0687 Activity Booklet 1           17
1     0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2     0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1
3     0903     Baseplate 16 x 24 with Set 080 Red House Print            1
4     0904  Baseplate 16 x 24 with Set 080 Large White Hou...            1

In [4]:
part_categories.head()

   id                     name
0   1               Baseplates
1   2           Bricks Printed
2   3            Bricks Sloped
3   4  Duplo, Quatro and Primo
4   5           Bricks Special

In [5]:
#building a dictionary of the datasets' column in common and column to be built:

part_name_dict = dict(zip(part_categories['id'], part_categories['name']))
part_name_dict

{1: 'Baseplates',
 2: 'Bricks Printed',
 3: 'Bricks Sloped',
 4: 'Duplo, Quatro and Primo',
 5: 'Bricks Special',
 6: 'Bricks Wedged',
 7: 'Containers',
 8: 'Technic Bricks',
 9: 'Plates Special',
 10: 'Tiles Printed',
 11: 'Bricks',
 12: 'Technic Connectors',
 13: 'Minifigs',
 14: 'Plates',
 15: 'Tiles Special',
 16: 'Windows and Doors',
 17: 'Non-LEGO',
 18: 'Hinges, Arms and Turntables',
 19: 'Tiles',
 20: 'Bricks Round and Cones',
 21: 'Plates Round and Dishes',
 22: 'Pneumatics',
 23: 'Panels',
 24: 'Other',
 25: 'Technic Steering, Suspension and Engine',
 26: 'Technic Special',
 27: 'Minifig Accessories',
 28: 'Plants and Animals',
 29: 'Wheels and Tyres',
 30: 'Tubes and Hoses',
 31: 'String, Bands and Reels',
 32: 'Bars, Ladders and Fences',
 33: 'Rock',
 34: 'Supports, Girders and Cranes',
 35: 'Transportation - Sea and Air',
 36: 'Transportation - Land',
 37: 'Bricks Curved',
 38: 'Flags, Signs, Plastics and Cloth',
 39: 'Magnets and Holders',
 40: 'Technic Panels',
 41: 'Bionicle, Hero Factory and Constraction',
 42: 'Belville, Scala and Fabuland',
 43: 'Znap',
 44: 'Mechanical',
 45: 'Power Functions, Mindstorms and Electric',
 46: 'Technic Axles',
 47: 'Windscreens and Fuselage',
 48: 'Clikits',
 49: 'Plates Angled',
 50: 'HO Scale',
 51: 'Technic Beams',
 52: 'Technic Gears',
 53: 'Technic Pins',
 54: 'Technic Bushes',
 55: 'Technic Beams Special',
 56: 'Tools',
 57: 'Non-Buildable Figures (Duplo, Fabuland, etc)'}

In [6]:
parts['part_cat_name'] = parts['part_cat_id'].map(part_name_dict)

In [7]:
parts.head()
#now the 'parts' dataframe (df) has the 'part_cat_name' from part_categories

,part_num,name,part_cat_id,part_cat_name
0,0687b1,Set 0687 Activity Booklet 1,17,Non-LEGO
1,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,Baseplates
2,0902,Baseplate 16 x 24 with Set 080 Small White Hou...,1,Baseplates
3,0903,Baseplate 16 x 24 with Set 080 Red House Print,1,Baseplates
4,0904,Baseplate 16 x 24 with Set 080 Large White Hou...,1,Baseplates

**Inventory Parts and Parts**

In [8]:
inventory_parts.head()

   inventory_id     part_num  color_id  quantity is_spare
0             1     48379c01        72         1        f
1             1        48395         7         1        f
2             1     mcsport6        25         1        f
3             1       paddle         0         1        f
4             3  11816pr0005        78         1        f

In [9]:
inventory_parts.shape

(580251, 5)

In [10]:
inventory_parts['part_num'].nunique()

23131

In [11]:
#making a list of all 'part_num' in common in both parts and inventory_parts:
part_num_list = set(list(set(inventory_parts['part_num']) & set(parts['part_num'])))
len(part_num_list)

23114

In [12]:
#parts df for all 'part_num' also represented in inventory_parts
parts[parts['part_num'].isin(part_num_list)]

,part_num,name,part_cat_id,part_cat_name
0,0687b1,Set 0687 Activity Booklet 1,17,Non-LEGO
1,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,Baseplates
2,0902,Baseplate 16 x 24 with Set 080 Small White Hou...,1,Baseplates
3,0903,Baseplate 16 x 24 with Set 080 Red House Print,1,Baseplates
4,0904,Baseplate 16 x 24 with Set 080 Large White Hou...,1,Baseplates
...,...,...,...,...
25988,zbb013,Znap Connector 3 x 3 - 4 way B (Beam),43,Znap
25989,zbb014,Znap Connector 1 x 3 - 2 way A,43,Znap
25990,zbb015,"Znap Beam 3, 1 Hole",43,Znap
25991,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,Znap
25992,zbb022,Wheel 68mm Znap Propeller (9 x 2),29,Wheels and Tyres

- As we can see by the difference in the number of rows between 'parts' and the immediately above output, most lego pieces belong to sets.

In [13]:
#as with parts and parts_categories, 
#I am creating dictionaries to concatenate the dfs:

#adding 'parts - name' to inventory_parts
part_name_dict = dict(zip(parts['part_num'], parts['name']))
inventory_parts['part_name'] = inventory_parts['part_num'].map(part_name_dict)

In [14]:
#adding 'parts - part_cat_id' to inventory_parts
part_cat_id_dict = dict(zip(parts['part_num'], parts['part_cat_id']))
inventory_parts['part_cat_id'] = inventory_parts['part_num'].map(part_cat_id_dict)

In [15]:
#adding 'parts - part_cat_name' to inventory_parts
part_cat_name_dict = dict(zip(parts['part_num'], parts['part_cat_name']))
inventory_parts['part_cat_name'] = inventory_parts['part_num'].map(part_cat_name_dict)

In [16]:
inventory_parts.head()
#confirming my part_name matches up with external resources: 
#https://www.bricklink.com/v2/catalog/catalogitem.page?P=48379c01#T=C

,inventory_id,part_num,color_id,quantity,is_spare,part_name,part_cat_id,part_cat_name
0,1,48379c01,72,1,f,Sports Promo Figure Base with Feet,27.0,Minifig Accessories
1,1,48395,7,1,f,Sports Promo Snowboard from McDonald's Sports ...,27.0,Minifig Accessories
2,1,mcsport6,25,1,f,Sports Promo Figure Head Torso Assembly McDona...,13.0,Minifigs
3,1,paddle,0,1,f,Sports Promo Paddle from McDonald's Sports Sets,27.0,Minifig Accessories
4,3,11816pr0005,78,1,f,"Minifig Head Modified - Friends - Green Eyes, ...",13.0,Minifigs

**Invetory Parts and Colors**

In [17]:
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [18]:
colors.shape

(135, 4)

In [19]:
#creating dictionaries to concatenate the dfs:

#adding 'color - name' to inventory_parts
colors_dict = dict(zip(colors['id'], colors['name']))
inventory_parts['color_name'] = inventory_parts['color_id'].map(colors_dict)

In [20]:
#adding 'color - rgb' to inventory_parts
colors_rgb_dict = dict(zip(colors['id'], colors['rgb']))
inventory_parts['color_rgb'] = inventory_parts['color_id'].map(colors_rgb_dict)

In [21]:
#adding 'color - rgb' to inventory_parts
colors_trans_dict = dict(zip(colors['id'], colors['is_trans']))
inventory_parts['color_trans'] = inventory_parts['color_id'].map(colors_trans_dict)

In [22]:
#obvserving the tail of df instead of head:
inventory_parts.tail()

,inventory_id,part_num,color_id,quantity,is_spare,part_name,part_cat_id,part_cat_name,color_name,color_rgb,color_trans
580246,18708,99206,0,3,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Black,05131D,f
580247,18708,99207,71,4,f,Bracket 1 x 2 - 2 x 2 Inverted,9.0,Plates Special,Light Bluish Gray,A0A5A9,f
580248,18708,99780,15,4,f,Bracket 1 x 2 - 1 x 2 Inverted,9.0,Plates Special,White,FFFFFF,f
580249,18708,99780,0,9,f,Bracket 1 x 2 - 1 x 2 Inverted,9.0,Plates Special,Black,05131D,f
580250,18708,99780,72,5,f,Bracket 1 x 2 - 1 x 2 Inverted,9.0,Plates Special,Dark Bluish Gray,6C6E68,f

In [23]:
inventory_parts[inventory_parts['part_num'] == '99206']
#https://www.bricklink.com/v2/catalog/catalogitem.page?P=99206#T=C
#confirming my information matches with bricklink (part of the Lego Group)

,inventory_id,part_num,color_id,quantity,is_spare,part_name,part_cat_id,part_cat_name,color_name,color_rgb,color_trans
110,22,99206,71,2,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Light Bluish Gray,A0A5A9,f
3315,89,99206,15,2,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,White,FFFFFF,f
5154,137,99206,0,1,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Black,05131D,f
8050,218,99206,71,2,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Light Bluish Gray,A0A5A9,f
13657,403,99206,71,1,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Light Bluish Gray,A0A5A9,f
...,...,...,...,...,...,...,...,...,...,...,...
579398,18577,99206,15,2,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,White,FFFFFF,f
579841,18584,99206,15,1,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,White,FFFFFF,f
579971,18593,99206,15,4,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,White,FFFFFF,f
580245,18708,99206,15,1,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,White,FFFFFF,f
580246,18708,99206,0,3,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Black,05131D,f

**Inventory Parts and Inventories**

In [24]:
inventories.head()

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

In [25]:
inventories.shape

(11681, 3)

In [26]:
#creating dictionaries to concatenate the dfs:

#adding 'inventories - version' to inventory_parts
invt_ver_dict = dict(zip(inventories['id'], inventories['version']))
inventory_parts['invt_version'] = inventory_parts['inventory_id'].map(invt_ver_dict)

In [27]:
#adding 'inventories - set_num' to inventory_parts
invt_dict = dict(zip(inventories['id'], inventories['set_num']))
inventory_parts['invt_set_num'] = inventory_parts['inventory_id'].map(invt_dict)

In [28]:
inventory_parts[inventory_parts['invt_set_num'] == '7922-1']

#according to brickland:
#https://www.bricklink.com/v2/catalog/catalogitem.page?S=7922-1#T=I
#the parts are correct, the sets seem to be missing the decal sticks, however.

,inventory_id,part_num,color_id,quantity,is_spare,part_name,part_cat_id,part_cat_name,color_name,color_rgb,color_trans,invt_version,invt_set_num
0,1,48379c01,72,1,f,Sports Promo Figure Base with Feet,27.0,Minifig Accessories,Dark Bluish Gray,6C6E68,f,1,7922-1
1,1,48395,7,1,f,Sports Promo Snowboard from McDonald's Sports ...,27.0,Minifig Accessories,Light Gray,9BA19D,f,1,7922-1
2,1,mcsport6,25,1,f,Sports Promo Figure Head Torso Assembly McDona...,13.0,Minifigs,Orange,FE8A18,f,1,7922-1
3,1,paddle,0,1,f,Sports Promo Paddle from McDonald's Sports Sets,27.0,Minifig Accessories,Black,05131D,f,1,7922-1

In [29]:
inventory_parts.shape

(580251, 13)

**Inventory Parts and Sets**

In [30]:
sets.head()

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [31]:
sets.shape

(11673, 5)

In [32]:
sets['name'].value_counts()

Basic Building Set                                 55
Universal Building Set                             32
Basic Set                                          23
Helicopter                                         23
Fire Station                                       14
                                                   ..
ULTIMATE Clay                                       1
Frost + Onyx + Power [8511 + 8512 + 8514]           1
Power Miners Super Pack 3 in 1 (8709 8958 8959)     1
Duplo Medium Bucket                                 1
Quest Against Time                                  1
Name: name, Length: 10370, dtype: int64

In [33]:
sets['name'].value_counts()[0:20]

Basic Building Set               55
Universal Building Set           32
Basic Set                        23
Helicopter                       23
Fire Station                     14
Tow Truck                        14
Fire Truck                       13
Supplementary Set                12
Tractor                          12
Police Helicopter                11
Ambulance                        11
Basic Building Set Trial Size    10
Police Car                       10
Mobile Crane                      8
Large Bucket                      8
Snowman                           8
Go-Kart                           8
Fire Engine                       8
Freestyle Set                     8
Car                               8
Name: name, dtype: int64

In [34]:
#creating dictionaries to concatenate the dfs:

#adding 'sets - name' to inventory_parts
sets_name_dict = dict(zip(sets['set_num'], sets['name']))
inventory_parts['set_name'] = inventory_parts['invt_set_num'].map(sets_name_dict)

In [35]:
#adding 'sets - year' to inventory_parts
sets_year_dict = dict(zip(sets['set_num'], sets['year']))
inventory_parts['set_year'] = inventory_parts['invt_set_num'].map(sets_year_dict)

In [36]:
#adding 'sets - theme_id' to inventory_parts
sets_theme_dict = dict(zip(sets['set_num'], sets['theme_id']))
inventory_parts['set_theme'] = inventory_parts['invt_set_num'].map(sets_theme_dict)

In [37]:
#adding 'sets - num_parts' to inventory_parts
sets_num_parts_dict = dict(zip(sets['set_num'], sets['num_parts']))
inventory_parts['total_set_parts'] = inventory_parts['invt_set_num'].map(sets_num_parts_dict)

In [38]:
inventory_parts

,inventory_id,part_num,color_id,quantity,is_spare,part_name,part_cat_id,part_cat_name,color_name,color_rgb,color_trans,invt_version,invt_set_num,set_name,set_year,set_theme,total_set_parts
0,1,48379c01,72,1,f,Sports Promo Figure Base with Feet,27.0,Minifig Accessories,Dark Bluish Gray,6C6E68,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4
1,1,48395,7,1,f,Sports Promo Snowboard from McDonald's Sports ...,27.0,Minifig Accessories,Light Gray,9BA19D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4
2,1,mcsport6,25,1,f,Sports Promo Figure Head Torso Assembly McDona...,13.0,Minifigs,Orange,FE8A18,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4
3,1,paddle,0,1,f,Sports Promo Paddle from McDonald's Sports Sets,27.0,Minifig Accessories,Black,05131D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4
4,3,11816pr0005,78,1,f,"Minifig Head Modified - Friends - Green Eyes, ...",13.0,Minifigs,Light Flesh,F6D7B3,f,1,3931-1,Emma's Splash Pool,2012,494,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580246,18708,99206,0,3,f,Plate Special 2 x 2 x 0.667 with Two Studs On ...,9.0,Plates Special,Black,05131D,f,1,75090-2,Ezra's Speeder Bike,2015,182,253
580247,18708,99207,71,4,f,Bracket 1 x 2 - 2 x 2 Inverted,9.0,Plates Special,Light Bluish Gray,A0A5A9,f,1,75090-2,Ezra's Speeder Bike,2015,182,253
580248,18708,99780,15,4,f,Bracket 1 x 2 - 1 x 2 Inverted,9.0,Plates Special,White,FFFFFF,f,1,75090-2,Ezra's Speeder Bike,2015,182,253
580249,18708,99780,0,9,f,Bracket 1 x 2 - 1 x 2 Inverted,9.0,Plates Special,Black,05131D,f,1,75090-2,Ezra's Speeder Bike,2015,182,253
580250,18708,99780,72,5,f,Bracket 1 x 2 - 1 x 2 Inverted,9.0,Plates Special,Dark Bluish Gray,6C6E68,f,1,75090-2,Ezra's Speeder Bike,2015,182,253

**Inventory Parts and Themes**

In [39]:
themes.head()

   id            name  parent_id
0   1         Technic        NaN
1   2  Arctic Technic        1.0
2   3     Competition        1.0
3   4  Expert Builder        1.0
4   5           Model        1.0

In [40]:
themes.shape

(614, 3)

In [41]:
themes.isna().sum()

id             0
name           0
parent_id    111
dtype: int64

In [42]:
themes[themes['parent_id'].isna()].head()

      id     name  parent_id
0      1  Technic        NaN
21    22  Creator        NaN
49    50     Town        NaN
111  112   Racers        NaN
125  126    Space        NaN

In [43]:
#setting 'parent_id' NaN to 0.0
themes['parent_id'].fillna(0.0, inplace = True)

In [44]:
#creating dictionaries to concatenate the dfs:

#adding 'themes - name' to inventory_parts
themes_name_dict = dict(zip(themes['id'], themes['name']))
inventory_parts['set_theme_name'] = inventory_parts['set_theme'].map(themes_name_dict)

In [45]:
#adding 'themes - parent_id' to inventory_parts
themes_parentid_dict = dict(zip(themes['id'], themes['parent_id']))
inventory_parts['set_theme_parentid'] = inventory_parts['set_theme'].map(themes_parentid_dict)

In [46]:
#looking at pieces in star wars sets:
inventory_parts[inventory_parts['set_theme_parentid'] == 158].head()

,inventory_id,part_num,color_id,quantity,is_spare,part_name,part_cat_id,part_cat_name,color_name,color_rgb,color_trans,invt_version,invt_set_num,set_name,set_year,set_theme,total_set_parts,set_theme_name,set_theme_parentid
78,22,15573,72,1,f,Plate Special 1 x 2 with 1 Stud with Groove an...,9.0,Plates Special,Dark Bluish Gray,6C6E68,f,1,30277-1,First Order Star Destroyer,2016,184,56,Star Wars Episode 7,158.0
79,22,2412b,179,3,f,Tile Special 1 x 2 Grille with Bottom Groove,15.0,Tiles Special,Flat Silver,898788,f,1,30277-1,First Order Star Destroyer,2016,184,56,Star Wars Episode 7,158.0
80,22,2654,72,4,f,Plate Round 2 x 2 with Rounded Bottom [Boat Stud],21.0,Plates Round and Dishes,Dark Bluish Gray,6C6E68,f,1,30277-1,First Order Star Destroyer,2016,184,56,Star Wars Episode 7,158.0
81,22,3020,0,2,f,Plate 2 x 4,14.0,Plates,Black,05131D,f,1,30277-1,First Order Star Destroyer,2016,184,56,Star Wars Episode 7,158.0
82,22,3022,0,1,f,Plate 2 x 2,14.0,Plates,Black,05131D,f,1,30277-1,First Order Star Destroyer,2016,184,56,Star Wars Episode 7,158.0

In [47]:
#number of unique star wars sets (through the year this data was collected):
inventory_parts[inventory_parts['set_theme_parentid'] == 158]['invt_set_num'].nunique()

386

In [48]:
inventory_parts.to_csv('../data/lego_pieces.csv', index = False)